<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/40dc01ea-5ed8-41cb-b3f5-367419e8ce18/resourcegroups/SaglikHukuku/providers/Microsoft.Web/sites/saglikhukuku</ResourceId>
    <ResourceGroup>SaglikHukuku</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://saglikhukuku.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>09a4a34e-5825-4128-9d1f-dd78fc43e407</ProjectGuid>
    <PublishUrl>https://saglikhukuku.scm.azurewebsites.net/</PublishUrl>
    <UserName>$saglikhukuku</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>