@page "/"
@inject NavigationManager NavManager

<PageTitle>Açılış Programı</PageTitle>

<h1>Programımıza Hoşgeldiniz!</h1>

@code {
    protected override void OnInitialized()
    {
        NavManager.NavigateTo("/register");
    }
}
